.ant-input, .ant-select-selector  {
  background: #E5E6E9 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  border-color: #d9d9d9 !important;
  &:hover, &:focus {
    border: 1px solid #d9d9d9 !important;
  }
}

.ant-form-item-label {
  padding-bottom: 2px !important;
}

.ant-card-head {
  background: #F2F2F4 !important;
}

.ant-card-head-title {
  font-size: 20px;
  line-height: 28px;
  color: #273142;
}