.thank_image {
  display: block;
  margin: auto auto;
}

.thank_title {
  text-align: center;
  margin-top: 82px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
  color: #636A77;
}


.thank_subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #454D5C;
  max-width: 690px;
  margin: 24px auto auto;

}